body {
  padding-top: 5rem;
  height: 100%;
  background-color: rgba(0, 44, 91, 1.00);
  background-image: url("/resources/images/pattern.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 50% 100%;
}

image {
  margin: 0 auto;
}

table {
  margin: 0 auto;
}

.starter-template {
  padding: 3em 1.5em;
  text-align: center;
  color: white;
  background-color: rgba(0, 44, 91, 0.8);
}

.msg {
  color:white;
}

.checked {
  background-color: rgb(17, 208, 96) !important;
}

.oldResult {
  background-color: rgb(232, 154, 30);
}

input[type="radio"] {
  visibility: hidden;
}

.textarea {
  display: none;
  width: 100%;
}

.marks {
  background-color: rgba(0, 230, 115, 0.8);
}

.bands {
  color: red;
}

.group1 {
  background-color: rgba(185, 208, 73, 0.8);
}

.group2 {
  background-color: rgba(73, 192, 216, 0.8);
}

.group3 {
  background-color: rgba(218, 73, 151, 0.8);
}

.group4 {
    background-color: rgba(133, 112, 179, 0.8);
}

.groupresult {
  background-color: rgba(0, 230, 115, 0.8);
}

.no-bottom {
    margin-bottom: 0;
}

.colour1 {
  background-color: rgba(185, 208, 73, 0.8);
}

.colour2 {
  background-color: rgba(73, 192, 216, 0.8);
}

.colour3 {
  background-color: rgba(218, 73, 151, 0.8);
}

.colour4 {
    background-color: rgba(133, 112, 179, 0.8);
}

.keyword {
    color: contrast(300%);
    font-weight: bold;
    mix-blend-mode: difference;
    opacity: 100%;
}