body {
  padding-top: 5rem;
  height: 100%;
  background-color: rgba(0, 44, 91, 1.00);
  background-image: url("/resources/images/pattern.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 50% 100%;
}

image {
  margin: 0 auto;
}

table {
  margin: 0 auto;
}

.starter-template {
  padding: 3em 1.5em;
  text-align: center;
  color: white;
  background-color: rgba(0, 44, 91, 0.8);
}

.msg {
  color:white;
}

.checked {
  background-color: rgba(0, 230, 115, 0.8);
  color: black;
}

input[type="radio"] {
  visibility: hidden;
}

.textarea {
  display: none;
  width: 100%;
}

.marks {
  background-color: rgba(0, 230, 115, 0.8);
}

.bands {
  color: red;
}

.groupone {
  background-color: rgba(185, 208, 73, 0.8);
}

.grouptwo {
  background-color: rgba(73, 192, 216, 0.8);
}

.groupthree {
  background-color: rgba(218, 73, 151, 0.8);
}

.groupresult {
  background-color: rgba(0, 230, 115, 0.8);
}

.no-bottom {
    margin-bottom: 0;
}