# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/openjdk:jdk-stretch-node-browsers-legacy

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "pom.xml" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      - run: mvn package # run the actual tests

      - store_test_results: # uploads the test metadata from the `target/surefire-reports` directory so that it can show up in the CircleCI dashboard.
      # Upload test results for display in Test Summary: https://circleci.com/docs/2.0/collect-test-data/
          path: target/surefire-reports

      - store_artifacts: # store the uberjar as an artifact
      # Upload test summary for display in Artifacts: https://circleci.com/docs/2.0/artifacts/
          path: target/demo-java-spring-0.0.1-SNAPSHOT.jar
      # See https://circleci.com/docs/2.0/deployment-integrations/ for deploy examples

  deploy:
    machine:
      enabled: true

    steps:

      - run: scp target/website-0.0.1-SNAPSHOT.jar ubuntu@129.213.192.78:~/JARFILE

      - run: ssh ubuntu@129.213.192.78 "sudo chmod +x ~/CELFS/script.sh && sudo ~/CELFS/script.sh"

      - run: ssh ubuntu@129.213.192.78 "sudo iptables -F"

      - run: ssh ubuntu@129.213.192.78 "(cd ~/JARFILE && exec nohup java -jar website-0.0.1-SNAPSHOT.jar &)"


    #steps:
    #  - run:
    #      name: Deploy Over SSH
    #      command: |
    #    #   scp foobar.txt your_username@remotehost.edu:/some/remote/directory
    #    #   scp target/demo-java-spring-0.0.1-SNAPSHOT.jar ubuntu@129.213.192.78:/JARFILE
    #        ssh ubuntu@129.213.192.78 "sudo kill 1"
    #        ssh ubuntu@129.213.192.78 "sudo iptables -F"
    #    #   ssh ubuntu@129.213.192.78 "(cd ~/JARFILE && exec java -jar Minecraft.jar)"
    #        ssh ubuntu@129.213.192.78 "exit"

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
