<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
     th:fragment="navig">
    <img src="resources/images/logo.png" alt="CELFS" height="10%" width="10%"/>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li th:with="att=${'nav-item ' + home}" th:attr="class=${att}">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li th:with="att=${'nav-item ' + login}" th:attr="class=${att}">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item dropdown">
          <a th:with="att=${'nav-link dropdown-toggle ' + dropdown}" th:attr="class=${att}" href="#"
             id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mark Work</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a th:each="work : ${works}" th:class="${work == id} ? ${'dropdown-item ' + coursework} : 'dropdown-item'"
               th:href="@{/coursework(id=${work})}" th:text="${work}"></a>
          </div>
        </li>
        <li th:with="att=${'nav-item ' + admin}" th:attr="class=${att}">
            <a class="nav-link" href="\admin">Admin</a>
          </li>
        <li th:with="att=${'nav-item ' + showmarks}" th:attr="class=${att}">
          <a class="nav-link" href="\showMarks">Marks</a>
        </li>
      </ul>
      <p class="my-2 my-lg-0 msg" th:text="${logintext}"></p>
    </div>
  </nav>
