<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:fragment="navig (home, quotes, login, dropdown, mrr)">
    <img src="resources/images/logo.png" alt="CELFS" height="10%" width="10%"/>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li th:with="att=${'nav-item ' + home}" th:attr="class=${att}">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li th:with="att=${'nav-item ' + login}" th:attr="class=${att}">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item dropdown">
          <a th:with="att=${'nav-link dropdown-toggle ' + dropdown}" th:attr="class=${att}" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mark Work</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a th:with="att=${'dropdown-item ' + mrr}" th:attr="class=${att}" href="/mrr">Micro Research Report</a>
            <a class="dropdown-item" href="#">Exam #2</a>
            <a class="dropdown-item" href="#">Exam #3</a>
          </div>
        </li>
        <li th:with="att=${'nav-item ' + login}" th:attr="class=${att}">
            <a class="nav-link" href="#">Admin</a>
          </li>
      </ul>
      <p class="my-2 my-lg-0 msg">You're not logged in</p>
    </div>
  </nav>