<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>CELFS</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/resources/css/base-template.css" >

  </head>

  <body>

    <nav th:insert="fragments/nav :: navig (admin='active')"></nav>
    <main role="main" class="container">

      <div class="starter-template d-flex flex-column">
        <h1 class="p-2">Edit Students</h1>
        
        <form th:action="@{/editStudents}" th:object="${command}" method="post" class="p-2 justify-content-center needs-validation" novalidate>
            <div class="form-group">
                <label for="ID">Student ID</label>
                <input type="text" class="form-control   w-50 mx-auto" id="id" th:field="*{id}" placeholder="ab12345" name="id" required>
            </div>
              <div class="form-group">
                <label for="Seat">Seat</label>
                <input type="text" class="form-control  w-50 mx-auto" id="seat" th:field="*{seat}" placeholder="Seat 01" name="seat" required>
              </div>
            <div class="form-group">
                <label for="s_class">Student Class</label>
                <input type="text" class="form-control  w-50 mx-auto" id="s_class" th:field="*{s_class}" placeholder="Micro Research Report" name="s_class" required>
              </div>
                <button type="submit" class="btn btn-primary mb-2">Add Student</button>
        </form>
        
        
        <div class="table-responsive">
            <table class="table align-middle colour_coded_table table-bordered" style={margin: 0 auto}>
                <tr>
                    <th>ID</th>
                    <th>Seat</th>
                    <th>Student Class</th>
                </tr>
                <tr th:each="student : ${students}">
                    <td th:text="${student.getId()}" />
                    <td th:text="${student.getSeat()}" />
                    <td th:text="${student.getStudentClass()}" />
                </tr>
            </table>
        </div>
        
        
      </div>
      
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
