<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>CELFS</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/resources/css/base-template.css" >
  </head>

  <body>

    <nav th:insert="fragments/nav :: navig (home='', quotes='', login='', dropdown='active', mrr='active')"></nav>

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Mark a Micro Research Report</h1>
        <p class="lead">Please input a band for each criterium.</p>
        <form>
        <table class="table table-striped align-middle">
            <thead>
              <tr>
                <th scope="col" class="align-middle">Category</th>
                <th scope="col" class="align-middle">Criterium</th>
                <th scope="col" class="align-middle">Exceptional Pass</th>
                <th scope="col" class="align-middle">Very Good Pass</th>
                <th scope="col" class="align-middle">Good Pass</th>
                <th scope="col" class="align-middle">Satisfactory Pass</th>
                <th scope="col" class="align-middle">Borderline Pass</th>
                <th scope="col" class="align-middle">Borerline Fail</th>
                <th scope="col" class="align-middle">Clear Fail</th>
                <th scope="col" class="align-middle">Zero</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="align-middle" rowspan="6">Task Fulfilment and Content</th>
                <th scope="row" class="align-middle">Response</th>
                <td><p>Rigorous, lucid, creative & original response</p><input type="radio" class="align-middle" name="response"></td>
                <td><p>Complete, relevant, fairly sophisticated response to task with noticeable quality of ideas  </p><input type="radio" class="align-middle" name="response"></td>
                <td><p>No major omissions and mostly relevant response to task but may lack sophistication</p><input type="radio" class="align-middle" name="response"></td>
                <td><p>No major omissions with some successful attempts to communicate main ideas but some repetition, irrelevance </p><input type="radio" class="align-middle" name="response"></td>
                <td><p>Minimal response to task, with only one major omission (missing one IMRD section, missing source, no reference list, no visual summary)</p><input type="radio" class="align-middle" name="response"></td>
                <td><p>Inadequate response to task which misses more than one major element of task</p><input type="radio" class="align-middle" name="response"></td>
                <td><p>Fails to address the general scope of the task</p><input type="radio" class="align-middle" name="response"></td>
                <td><p>No attempt at task; evidence of cheating; memorised script</p><input type="radio" class="align-middle" name="response"></td>
              </tr>
              <tr>
                  <th scope="row" class="align-middle">Method</th>
                  <td><input type="radio" class="align-middle" name="method"></td>
                  <td><input type="radio" class="align-middle" name="method"></td>
                  <td><input type="radio" class="align-middle" name="method"></td>
                  <td><input type="radio" class="align-middle" name="method"></td>
                  <td><input type="radio" class="align-middle" name="method"></td>
                  <td><input type="radio" class="align-middle" name="method"></td>
                  <td><input type="radio" class="align-middle" name="method"></td>
                  <td><input type="radio" class="align-middle" name="method"></td>
              </tr>
              <tr>
                  <th scope="row" class="align-middle">Results</th>
                  <td><input type="radio" class="align-middle" name="results"></td>
                  <td><input type="radio" class="align-middle" name="results"></td>
                  <td><input type="radio" class="align-middle" name="results"></td>
                  <td><input type="radio" class="align-middle" name="results"></td>
                  <td><input type="radio" class="align-middle" name="results"></td>
                  <td><input type="radio" class="align-middle" name="results"></td>
                  <td><input type="radio" class="align-middle" name="results"></td>
                  <td><input type="radio" class="align-middle" name="results"></td>
              </tr>
              <tr>
                  <th scope="row" class="align-middle">Discussion</th>
                  <td><input type="radio" class="align-middle" name="discussion"></td>
                  <td><input type="radio" class="align-middle" name="discussion"></td>
                  <td><input type="radio" class="align-middle" name="discussion"></td>
                  <td><input type="radio" class="align-middle" name="discussion"></td>
                  <td><input type="radio" class="align-middle" name="discussion"></td>
                  <td><input type="radio" class="align-middle" name="discussion"></td>
                  <td><input type="radio" class="align-middle" name="discussion"></td>
                  <td><input type="radio" class="align-middle" name="discussion"></td>
              </tr>
              <tr>
                  <th scope="row" class="align-middle">Synthesis</th>
                  <td><input type="radio" class="align-middle" name="synthesis"></td>
                  <td><input type="radio" class="align-middle" name="synthesis"></td>
                  <td><input type="radio" class="align-middle" name="synthesis"></td>
                  <td><input type="radio" class="align-middle" name="synthesis"></td>
                  <td><input type="radio" class="align-middle" name="synthesis"></td>
                  <td><input type="radio" class="align-middle" name="synthesis"></td>
                  <td><input type="radio" class="align-middle" name="synthesis"></td>
                  <td><input type="radio" class="align-middle" name="synthesis"></td>
              </tr>
              <tr>
                  <th scope="row" class="align-middle">Reasoning</th>
                  <td><input type="radio" class="align-middle" name="reasoning"></td>
                  <td><input type="radio" class="align-middle" name="reasoning"></td>
                  <td><input type="radio" class="align-middle" name="reasoning"></td>
                  <td><input type="radio" class="align-middle" name="reasoning"></td>
                  <td><input type="radio" class="align-middle" name="reasoning"></td>
                  <td><input type="radio" class="align-middle" name="reasoning"></td>
                  <td><input type="radio" class="align-middle" name="reasoning"></td>
                  <td><input type="radio" class="align-middle" name="reasoning"></td>
              </tr>
              <tr>
                  <th scope="row" class="align-middle" rowspan="6">Language and Style</th>
                  <th scope="row" class="align-middle">Control</th>
                  <td><input type="radio" class="align-middle" name="control"></td>
                  <td><input type="radio" class="align-middle" name="control"></td>
                  <td><input type="radio" class="align-middle" name="control"></td>
                  <td><input type="radio" class="align-middle" name="control"></td>
                  <td><input type="radio" class="align-middle" name="control"></td>
                  <td><input type="radio" class="align-middle" name="control"></td>
                  <td><input type="radio" class="align-middle" name="control"></td>
                  <td><input type="radio" class="align-middle" name="control"></td>
                </tr>
                <tr>
                    <th scope="row" class="align-middle">Errors</th>
                    <td><input type="radio" class="align-middle" name="errors"></td>
                    <td><input type="radio" class="align-middle" name="errors"></td>
                    <td><input type="radio" class="align-middle" name="errors"></td>
                    <td><input type="radio" class="align-middle" name="errors"></td>
                    <td><input type="radio" class="align-middle" name="errors"></td>
                    <td><input type="radio" class="align-middle" name="errors"></td>
                    <td><input type="radio" class="align-middle" name="errors"></td>
                    <td><input type="radio" class="align-middle" name="errors"></td>
                </tr>
                <tr>
                    <th scope="row" class="align-middle">Noun Phrases</th>
                    <td><input type="radio" class="align-middle" name="nounphrases"></td>
                    <td><input type="radio" class="align-middle" name="nounphrases"></td>
                    <td><input type="radio" class="align-middle" name="nounphrases"></td>
                    <td><input type="radio" class="align-middle" name="nounphrases"></td>
                    <td><input type="radio" class="align-middle" name="nounphrases"></td>
                    <td><input type="radio" class="align-middle" name="nounphrases"></td>
                    <td><input type="radio" class="align-middle" name="nounphrases"></td>
                    <td><input type="radio" class="align-middle" name="nounphrases"></td>
                </tr>
                <tr>
                    <th scope="row" class="align-middle">Vocabulary</th>
                    <td><input type="radio" class="align-middle" name="vocabulary"></td>
                    <td><input type="radio" class="align-middle" name="vocabulary"></td>
                    <td><input type="radio" class="align-middle" name="vocabulary"></td>
                    <td><input type="radio" class="align-middle" name="vocabulary"></td>
                    <td><input type="radio" class="align-middle" name="vocabulary"></td>
                    <td><input type="radio" class="align-middle" name="vocabulary"></td>
                    <td><input type="radio" class="align-middle" name="vocabulary"></td>
                    <td><input type="radio" class="align-middle" name="vocabulary"></td>
                </tr>
                <tr>
                    <th scope="row" class="align-middle">Word Choice</th>
                    <td><input type="radio" class="align-middle" name="wordchoice"></td>
                    <td><input type="radio" class="align-middle" name="wordchoice"></td>
                    <td><input type="radio" class="align-middle" name="wordchoice"></td>
                    <td><input type="radio" class="align-middle" name="wordchoice"></td>
                    <td><input type="radio" class="align-middle" name="wordchoice"></td>
                    <td><input type="radio" class="align-middle" name="wordchoice"></td>
                    <td><input type="radio" class="align-middle" name="wordchoice"></td>
                    <td><input type="radio" class="align-middle" name="wordchoice"></td>
                </tr>
                <tr>
                    <th scope="row" class="align-middle">Style</th>
                    <td><input type="radio" class="align-middle" name="style"></td>
                    <td><input type="radio" class="align-middle" name="style"></td>
                    <td><input type="radio" class="align-middle" name="style"></td>
                    <td><input type="radio" class="align-middle" name="style"></td>
                    <td><input type="radio" class="align-middle" name="style"></td>
                    <td><input type="radio" class="align-middle" name="style"></td>
                    <td><input type="radio" class="align-middle" name="style"></td>
                    <td><input type="radio" class="align-middle" name="style"></td>
                </tr>
                <tr>
                    <th scope="row" class="align-middle" rowspan="6">Text Organisation</th>
                    <th scope="row" class="align-middle">Sentence Structure</th>
                    <td><input type="radio" class="align-middle" name="sentencestructure"></td>
                    <td><input type="radio" class="align-middle" name="sentencestructure"></td>
                    <td><input type="radio" class="align-middle" name="sentencestructure"></td>
                    <td><input type="radio" class="align-middle" name="sentencestructure"></td>
                    <td><input type="radio" class="align-middle" name="sentencestructure"></td>
                    <td><input type="radio" class="align-middle" name="sentencestructure"></td>
                    <td><input type="radio" class="align-middle" name="sentencestructure"></td>
                    <td><input type="radio" class="align-middle" name="sentencestructure"></td>
                  </tr>
                  <tr>
                      <th scope="row" class="align-middle">Organisation</th>
                      <td><input type="radio" class="align-middle" name="organisation"></td>
                      <td><input type="radio" class="align-middle" name="organisation"></td>
                      <td><input type="radio" class="align-middle" name="organisation"></td>
                      <td><input type="radio" class="align-middle" name="organisation"></td>
                      <td><input type="radio" class="align-middle" name="organisation"></td>
                      <td><input type="radio" class="align-middle" name="organisation"></td>
                      <td><input type="radio" class="align-middle" name="organisation"></td>
                      <td><input type="radio" class="align-middle" name="organisation"></td>
                  </tr>
                  <tr>
                      <th scope="row" class="align-middle">Development</th>
                      <td><input type="radio" class="align-middle" name="development"></td>
                      <td><input type="radio" class="align-middle" name="development"></td>
                      <td><input type="radio" class="align-middle" name="development"></td>
                      <td><input type="radio" class="align-middle" name="development"></td>
                      <td><input type="radio" class="align-middle" name="development"></td>
                      <td><input type="radio" class="align-middle" name="development"></td>
                      <td><input type="radio" class="align-middle" name="development"></td>
                      <td><input type="radio" class="align-middle" name="development"></td>
                  </tr>
                  <tr>
                      <th scope="row" class="align-middle">Cohesive Devices</th>
                      <td><input type="radio" class="align-middle" name="cohesivedevices"></td>
                      <td><input type="radio" class="align-middle" name="cohesivedevices"></td>
                      <td><input type="radio" class="align-middle" name="cohesivedevices"></td>
                      <td><input type="radio" class="align-middle" name="cohesivedevices"></td>
                      <td><input type="radio" class="align-middle" name="cohesivedevices"></td>
                      <td><input type="radio" class="align-middle" name="cohesivedevices"></td>
                      <td><input type="radio" class="align-middle" name="cohesivedevices"></td>
                      <td><input type="radio" class="align-middle" name="cohesivedevices"></td>
                  </tr>
                  <tr>
                      <th scope="row" class="align-middle">Conclusion</th>
                      <td><input type="radio" class="align-middle" name="conclusion"></td>
                      <td><input type="radio" class="align-middle" name="conclusion"></td>
                      <td><input type="radio" class="align-middle" name="conclusion"></td>
                      <td><input type="radio" class="align-middle" name="conclusion"></td>
                      <td><input type="radio" class="align-middle" name="conclusion"></td>
                      <td><input type="radio" class="align-middle" name="conclusion"></td>
                      <td><input type="radio" class="align-middle" name="conclusion"></td>
                      <td><input type="radio" class="align-middle" name="conclusion"></td>
                  </tr>
                  <tr>
                      <th scope="row" class="align-middle">Presentation</th>
                      <td><input type="radio" class="align-middle" name="presentation"></td>
                      <td><input type="radio" class="align-middle" name="presentation"></td>
                      <td><input type="radio" class="align-middle" name="presentation"></td>
                      <td><input type="radio" class="align-middle" name="presentation"></td>
                      <td><input type="radio" class="align-middle" name="presentation"></td>
                      <td><input type="radio" class="align-middle" name="presentation"></td>
                      <td><input type="radio" class="align-middle" name="presentation"></td>
                      <td><input type="radio" class="align-middle" name="presentation"></td>
                  </tr>
            </tbody>
          </table>
          </form>
      </div>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
  </body>
</html>
