<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>CELFS</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/resources/css/base-template.css" >

  </head>

  <body>

    <nav th:insert="fragments/nav :: navig (home='', login='', dropdown='active', mrr='active', admin='')"></nav>
    <main role="main" class="container-fluid">

      <div class="starter-template d-flex flex-column">
        <h1 class="p-2">Review Page</h1>
        <p class="lead p-2">Please review the marks.</p>
        
        <!-- Review code which gets from the repository -->
        
        <table class="table">
            <tr> <td>studentID<td>     <td><span th:text="${mrrRaw.studentID}"/></td></tr>
            <tr> <td>response_comment<td>     <td><span th:text="${mrrRaw.response_comment}"/></td></tr>
            <tr> <td>response<td>     <td><span th:text="${mrrRaw.response}"/></td></tr>
            <tr> <td>method_comment<td>     <td><span th:text="${mrrRaw.method_comment}"/></td></tr>
            <tr> <td>method<td>     <td><span th:text="${mrrRaw.method}"/></td></tr>
            <tr> <td>results_comment<td>     <td><span th:text="${mrrRaw.results_comment}"/></td></tr>
            <tr> <td>results<td>     <td><span th:text="${mrrRaw.results}"/></td></tr>
            <tr> <td>discussion_comment<td>     <td><span th:text="${mrrRaw.discussion_comment}"/></td></tr>
            <tr> <td>discussion<td>     <td><span th:text="${mrrRaw.discussion}"/></td></tr>
            <tr> <td>synthesis_comment<td>     <td><span th:text="${mrrRaw.synthesis_comment}"/></td></tr>
            <tr> <td>synthesis<td>     <td><span th:text="${mrrRaw.synthesis}"/></td></tr>
            <tr> <td>reasoning_comment<td>     <td><span th:text="${mrrRaw.reasoning_comment}"/></td></tr>
            <tr> <td>reasoning<td>     <td><span th:text="${mrrRaw.reasoning}"/></td></tr>
            <tr> <td>control_comment<td>     <td><span th:text="${mrrRaw.control_comment}"/></td></tr>
            <tr> <td>control<td>     <td><span th:text="${mrrRaw.control}"/></td></tr>
            <tr> <td>errors_comment<td>     <td><span th:text="${mrrRaw.errors_comment}"/></td></tr>
            <tr> <td>errors<td>     <td><span th:text="${mrrRaw.errors}"/></td></tr>
            <tr> <td>nounphrases_comment<td>     <td><span th:text="${mrrRaw.nounphrases_comment}"/></td></tr>
            <tr> <td>nounphrases<td>     <td><span th:text="${mrrRaw.nounphrases}"/></td></tr>
            <tr> <td>vocabulary_comment<td>     <td><span th:text="${mrrRaw.vocabulary_comment}"/></td></tr>
            <tr> <td>vocabulary<td>     <td><span th:text="${mrrRaw.vocabulary}"/></td></tr>
            <tr> <td>wordchoice_comment<td>     <td><span th:text="${mrrRaw.wordchoice_comment}"/></td></tr>
            <tr> <td>wordchoice<td>     <td><span th:text="${mrrRaw.wordchoice}"/></td></tr>
            <tr> <td>style_comment<td>     <td><span th:text="${mrrRaw.style_comment}"/></td></tr>
            <tr> <td>style<td>     <td><span th:text="${mrrRaw.style}"/></td></tr>
            <tr> <td>sentencestructure_comment<td>     <td><span th:text="${mrrRaw.sentencestructure_comment}"/></td></tr>
            <tr> <td>sentencestructure<td>     <td><span th:text="${mrrRaw.sentencestructure}"/></td></tr>
            <tr> <td>organisation_comment<td>     <td><span th:text="${mrrRaw.organisation_comment}"/></td></tr>
            <tr> <td>organisation<td>     <td><span th:text="${mrrRaw.organisation}"/></td></tr>
            <tr> <td>development_comment<td>     <td><span th:text="${mrrRaw.development_comment}"/></td></tr>
            <tr> <td>development<td>     <td><span th:text="${mrrRaw.development}"/></td></tr>
            <tr> <td>cohesivedevices_comment<td>     <td><span th:text="${mrrRaw.cohesivedevices_comment}"/></td></tr>
            <tr> <td>cohesivedevices<td>     <td><span th:text="${mrrRaw.cohesivedevices}"/></td></tr>
            <tr> <td>conclusion_comment<td>     <td><span th:text="${mrrRaw.conclusion_comment}"/></td></tr>
            <tr> <td>conclusion<td>     <td><span th:text="${mrrRaw.conclusion}"/></td></tr>
            <tr> <td>presentation_comment<td>     <td><span th:text="${mrrRaw.presentation_comment}"/></td></tr>
            <tr> <td>presentation<td>     <td><span th:text="${mrrRaw.presentation}"/></td></tr>
            <tr> <td>overallComment<td>     <td><span th:text="${mrrRaw.overallComment}"/></td></tr>
         </table>
        
        <!-- End of the review code -->
        
        
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
  </body>
</html>
