<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>CELFS</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/resources/css/base-template.css" >

  </head>

  <body>

    <nav th:insert="fragments/nav :: navig (home='', login='', dropdown='active', mrr='active', admin='')"></nav>
    <main role="main" class="container-fluid">

      <div class="starter-template d-flex flex-column">
        <h1 class="p-2">Review Page</h1>
        <p class="lead p-2">Please review the marks.</p>
        
        <!-- Review code which gets from the repository -->
        
        <p th:text="'Student ID: ' + ${mrrRaw.studentID}"></p>
        <p class="marks" th:text="'Overall Mark: ' + ${totalGrade}"></p>
        
        <table class="table table-striped align-middle">
            <thead>
                  <tr>
                    <th scope="col" class="align-middle">Category</th>
                    <th scope="col" class="align-middle">Criterium</th>
                    <th scope="col" class="align-middle">Band Chosen</th>
                    <th scope="col" class="align-middle">Comment</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" class="align-middle" rowspan="6">
                        Task Fulfilment and Content
                    </th>
                    <th scope="row" class="align-middle">
                        <p>Response</p>
                    </th>
                    <td class="align-middle">
                        <p class="marks" th:text="${mrrRaw.response}"></p>
                    </td>
                    <td class="align-middle">
                        <p th:text="${mrrRaw.response_comment}"></p>
                    </td>
                  </tr>
                  <tr>
                      <th scope="row" class="align-middle">
                          <p>Method</p>
                      </th>
                      <td class="align-middle">
                        <p class="marks" th:text="${mrrRaw.method}"></p>
                    </td>
                    <td class="align-middle">
                        <p th:text="${mrrRaw.method_comment}"></p>
                    </td>
                  </tr>
                  <tr>
                      <th scope="row" class="align-middle">
                          <p>Results</p>
                      </th>
                    <td class="align-middle">
                        <p class="marks" th:text="${mrrRaw.results}"></p>
                    </td>
                    <td class="align-middle">
                        <p th:text="${mrrRaw.results_comment}"></p>
                    </td>
                  </tr>
                  <tr>
                      <th scope="row" class="align-middle">
                          <p>Discussion</p>
                      </th>
                                          <td class="align-middle">
                        <p class="marks" th:text="${mrrRaw.discussion}"></p>
                    </td>
                    <td class="align-middle">
                        <p th:text="${mrrRaw.discussion_comment}"></p>
                    </td>
                  </tr>
                  <tr>
                      <th scope="row" class="align-middle">
                          <p>Synthesis</p>
                      </th>
                                          <td class="align-middle">
                        <p class="marks" th:text="${mrrRaw.synthesis}"></p>
                    </td>
                    <td class="align-middle">
                        <p th:text="${mrrRaw.synthesis_comment}"></p>
                    </td>
                  </tr>
                  <tr>
                      <th scope="row" class="align-middle">
                          <p>Reasoning</p>
                      </th>
                    <td class="align-middle">
                        <p class="marks" th:text="${mrrRaw.reasoning}"></p>
                    </td>
                    <td class="align-middle">
                        <p th:text="${mrrRaw.reasoning_comment}"></p>
                    </td>
                  </tr>
                  <tr>
                      <td class="align-middle" colspan="4"><p class="marks" th:text="'Task Fulfuilment and Content Mark: ' + ${tfcGrade}"></p></td>
                  </tr>
                  <tr>
                      <th scope="row" class="align-middle" rowspan="6">
                          Language and Style
                      </th>
                      <th scope="row" class="align-middle">
                          <p>Control</p>
                      </th>
                    <td class="align-middle">
                        <p class="marks" th:text="${mrrRaw.control}"></p>
                    </td>
                    <td class="align-middle">
                        <p th:text="${mrrRaw.control_comment}"></p>
                    </td>
                    </tr>
                    <tr>
                        <th scope="row" class="align-middle">
                            <p>Errors</p>
                        </th>
                    <td class="align-middle">
                        <p class="marks" th:text="${mrrRaw.errors}"></p>
                    </td>
                    <td class="align-middle">
                        <p th:text="${mrrRaw.errors_comment}"></p>
                    </td>
                    </tr>
                    <tr>
                        <th scope="row" class="align-middle">
                            <p>Noun Phrases</p>
                        </th>
                    <td class="align-middle">
                        <p class="marks" th:text="${mrrRaw.nounphrases}"></p>
                    </td>
                    <td class="align-middle">
                        <p th:text="${mrrRaw.nounphrases_comment}"></p>
                    </td>
                    </tr>
                    <tr>
                        <th scope="row" class="align-middle">
                            <p>Vocabulary</p>
                        </th>
                    <td class="align-middle">
                        <p class="marks" th:text="${mrrRaw.vocabulary}"></p>
                    </td>
                    <td class="align-middle">
                        <p th:text="${mrrRaw.vocabulary_comment}"></p>
                    </td>
                    </tr>
                    <tr>
                        <th scope="row" class="align-middle">
                            <p>Word Choice</p>
                        </th>
                                            <td class="align-middle">
                        <p class="marks" th:text="${mrrRaw.wordchoice}"></p>
                    </td>
                    <td class="align-middle">
                        <p th:text="${mrrRaw.wordchoice_comment}"></p>
                    </td>
                    </tr>
                    <tr>
                        <th scope="row" class="align-middle">
                            <p>Style</p>
                        </th>
                    <td class="align-middle">
                        <p class="marks" th:text="${mrrRaw.style}"></p>
                    </td>
                    <td class="align-middle">
                        <p th:text="${mrrRaw.style_comment}"></p>
                    </td>
                    </tr>
                    <tr>
                      <td class="align-middle" colspan="4"><p class="marks" th:text="'Language and Style Mark: ' + ${lsGrade}"></p></td>
                  </tr>
                    <tr>
                        <th scope="row" class="align-middle" rowspan="6">
                            Text Organisation
                        </th>
                        <th scope="row" class="align-middle">
                            <p>Sentence Structure</p>
                        </th>
                                            <td class="align-middle">
                        <p class="marks" th:text="${mrrRaw.sentencestructure}"></p>
                    </td>
                    <td class="align-middle">
                        <p th:text="${mrrRaw.sentencestructure_comment}"></p>
                    </td>
                      </tr>
                      <tr>
                          <th scope="row" class="align-middle">
                              <p>Organisation</p>
                          </th>
                                              <td class="align-middle">
                        <p class="marks" th:text="${mrrRaw.organisation}"></p>
                    </td>
                    <td class="align-middle">
                        <p th:text="${mrrRaw.organisation_comment}"></p>
                    </td>
                      </tr>
                      <tr>
                          <th scope="row" class="align-middle">
                              <p>Development</p>
                          </th>
                    <td class="align-middle">
                        <p class="marks" th:text="${mrrRaw.development}"></p>
                    </td>
                    <td class="align-middle">
                        <p th:text="${mrrRaw.development_comment}"></p>
                    </td>
                      </tr>
                      <tr>
                          <th scope="row" class="align-middle">
                              <p>Cohesive Devices</p>
                          </th>
                                              <td class="align-middle">
                        <p class="marks" th:text="${mrrRaw.cohesivedevices}"></p>
                    </td>
                    <td class="align-middle">
                        <p th:text="${mrrRaw.cohesivedevices_comment}"></p>
                    </td>
                      </tr>
                      <tr>
                          <th scope="row" class="align-middle">
                              <p>Conclusion</p>
                          </th>
                                              <td class="align-middle">
                        <p class="marks" th:text="${mrrRaw.conclusion}"></p>
                    </td>
                    <td class="align-middle">
                        <p th:text="${mrrRaw.conclusion_comment}"></p>
                    </td>
                      </tr>
                      <tr>
                          <th scope="row" class="align-middle">
                              <p>Presentation</p>
                          </th>
                    <td class="align-middle">
                        <p class="marks" th:text="${mrrRaw.presentation}"></p>
                    </td>
                    <td class="align-middle">
                        <p th:text="${mrrRaw.presentation_comment}"></p>
                    </td>
                      </tr>
                    <tr>
                      <td class="align-middle" colspan="4"><p class="marks" th:text="'Text Organisation Mark: ' + ${toGrade}"></p></td>
                  </tr>
                </tbody>
         </table>
        
        <p>Overall Comment:</p>
        <p th:text="${mrrRaw.overallComment}"></p>
        <p class="marks" th:text="'Overall Mark: ' + ${totalGrade}"></p>
        
        <!-- End of the review code -->
        
        
        <form th:action="@{/reviewmrr}" method="post" class="p-2 justify-content-center">
            <button type="submit" name="editButton" class="btn btn-primary">Edit</button>
            <button type="submit" name="submitButton" class="btn btn-primary">Submit</button>
        </form>
        
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
  </body>
</html>
