<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>CELFS</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/resources/css/base-template.css" >

  </head>

  <body>

    <nav th:insert="fragments/nav :: navig (home='', login='', dropdown='active', mrr='active', admin='', showmarks='')"></nav>
    <main role="main" class="container-fluid">

      <div class="starter-template d-flex flex-column">
        <h1 class="p-2">Review Page</h1>
        <p class="lead p-2">Please review the marks.</p>
        
        <!-- Review code which gets from the repository -->
        
        <p th:text="'Student ID: ' + ${mrrRaw.studentID}" />
        <p class="marks" th:text="'Overall Mark: ' + ${totalGrade}" />
        
        <table class="table align-middle table-bordered" style={margin: 0 auto}>
            <thead>
                  <tr>
                    <th scope="col" class="align-middle">Category</th>
                    <th scope="col" class="align-middle">Criterion</th>
                    <th scope="col" class="align-middle">Band Chosen</th>
                    <th scope="col" class="align-middle">Comment</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="groupone">
                    <th scope="row" class="align-middle" rowspan="6">
                        Task Fulfilment and Content
                    </th>
                    <th scope="row" class="align-middle">
                        <p>Response</p>
                    </th>
                    <td class="align-middle marks">
                        <p class="no-bottom" th:text="${mrrRaw.response}" />
                    </td>
                    <td class="align-middle">
                        <p class="no-bottom" th:text="${mrrRaw.response_comment}" />
                    </td>
                  </tr>
                  <tr class="groupone">
                      <th scope="row" class="align-middle">
                          <p>Method</p>
                      </th>
                      <td class="align-middle marks">
                        <p class="no-bottom" th:text="${mrrRaw.method}" />
                    </td>
                    <td class="align-middle">
                        <p class="no-bottom" th:text="${mrrRaw.method_comment}" />
                    </td>
                  </tr>
                  <tr class="groupone">
                      <th scope="row" class="align-middle">
                          <p class="no-bottom">Results</p>
                      </th>
                    <td class="align-middle marks">
                        <p class="no-bottom" th:text="${mrrRaw.results}" />
                    </td>
                    <td class="align-middle">
                        <p class="no-bottom" th:text="${mrrRaw.results_comment}" />
                    </td>
                  </tr>
                  <tr class="groupone">
                      <th scope="row" class="align-middle">
                          <p class="no-bottom">Discussion</p>
                      </th>
                    <td class="align-middle marks">
                        <p class="no-bottom" th:text="${mrrRaw.discussion}" />
                    </td>
                    <td class="align-middle">
                        <p class="no-bottom" th:text="${mrrRaw.discussion_comment}" />
                    </td>
                  </tr>
                  <tr class="groupone">
                      <th scope="row" class="align-middle">
                          <p class="no-bottom">Synthesis</p>
                      </th>
                    <td class="align-middle marks">
                        <p class="no-bottom" th:text="${mrrRaw.synthesis}" />
                    </td>
                    <td class="align-middle">
                        <p class="no-bottom" th:text="${mrrRaw.synthesis_comment}" />
                    </td>
                  </tr>
                  <tr class="groupone">
                      <th scope="row" class="align-middle">
                          <p class="no-bottom">Reasoning</p>
                      </th>
                    <td class="align-middle marks">
                        <p class="no-bottom" th:text="${mrrRaw.reasoning}" />
                    </td>
                    <td class="align-middle">
                        <p class="no-bottom" th:text="${mrrRaw.reasoning_comment}" />
                    </td>
                  </tr>
                  <tr class="groupone">
                      <td class="align-middle marks" colspan="4"><p class="no-bottom" th:text="'Task Fulfuilment and Content Mark: ' + ${tfcGrade}" /></td>
                  </tr>
                  <tr class="grouptwo">
                      <th scope="row" class="align-middle" rowspan="6">
                          Language and Style
                      </th>
                      <th scope="row" class="align-middle">
                          <p class="no-bottom">Control</p>
                      </th>
                    <td class="align-middle marks">
                        <p class="no-bottom" th:text="${mrrRaw.control}" />
                    </td>
                    <td class="align-middle">
                        <p class="no-bottom" th:text="${mrrRaw.control_comment}" />
                    </td>
                    </tr>
                    <tr class="grouptwo">
                        <th scope="row" class="align-middle">
                            <p class="no-bottom">Errors</p>
                        </th>
                    <td class="align-middle marks">
                        <p class="no-bottom" th:text="${mrrRaw.errors}" />
                    </td>
                    <td class="align-middle">
                        <p class="no-bottom" th:text="${mrrRaw.errors_comment}" />
                    </td>
                    </tr>
                    <tr class="grouptwo">
                        <th scope="row" class="align-middle">
                            <p class="no-bottom">Noun Phrases</p>
                        </th>
                    <td class="align-middle marks">
                        <p class="no-bottom" th:text="${mrrRaw.nounphrases}" />
                    </td>
                    <td class="align-middle">
                        <p class="no-bottom" th:text="${mrrRaw.nounphrases_comment}" />
                    </td>
                    </tr>
                    <tr class="grouptwo">
                        <th scope="row" class="align-middle">
                            <p class="no-bottom">Vocabulary</p>
                        </th>
                    <td class="align-middle marks">
                        <p class="no-bottom" th:text="${mrrRaw.vocabulary}" />
                    </td>
                    <td class="align-middle">
                        <p class="no-bottom" th:text="${mrrRaw.vocabulary_comment}" />
                    </td>
                    </tr>
                    <tr class="grouptwo">
                        <th scope="row" class="align-middle">
                            <p class="no-bottom">Word Choice</p>
                        </th>
                    <td class="align-middle marks">
                        <p class="no-bottom" th:text="${mrrRaw.wordchoice}" />
                    </td>
                    <td class="align-middle">
                        <p class="no-bottom" th:text="${mrrRaw.wordchoice_comment}" />
                    </td>
                    </tr>
                    <tr class="grouptwo">
                        <th scope="row" class="align-middle">
                            <p class="no-bottom">Style</p>
                        </th>
                    <td class="align-middle marks">
                        <p class="no-bottom" th:text="${mrrRaw.style}" />
                    </td>
                    <td class="align-middle">
                        <p class="no-bottom" th:text="${mrrRaw.style_comment}" />
                    </td>
                    </tr>
                    <tr class="grouptwo">
                      <td class="align-middle marks" colspan="4"><p class="no-bottom" th:text="'Language and Style Mark: ' + ${lsGrade}" /></td>
                  </tr>
                    <tr class="groupthree">
                        <th scope="row" class="align-middle" rowspan="6">
                            Text Organisation
                        </th>
                        <th scope="row" class="align-middle">
                            <p class="no-bottom">Sentence Structure</p>
                        </th>
                    <td class="align-middle marks">
                        <p class="no-bottom" th:text="${mrrRaw.sentencestructure}" />
                    </td>
                    <td class="align-middle">
                        <p class="no-bottom" th:text="${mrrRaw.sentencestructure_comment}" />
                    </td>
                      </tr>
                      <tr class="groupthree">
                          <th scope="row" class="align-middle">
                              <p class="no-bottom">Organisation</p>
                          </th>
                    <td class="align-middle marks">
                        <p class="no-bottom" th:text="${mrrRaw.organisation}" />
                    </td>
                    <td class="align-middle">
                        <p class="no-bottom" th:text="${mrrRaw.organisation_comment}" />
                    </td>
                      </tr>
                      <tr class="groupthree">
                          <th scope="row" class="align-middle">
                              <p class="no-bottom">Development</p>
                          </th>
                    <td class="align-middle marks">
                        <p class="no-bottom" th:text="${mrrRaw.development}" />
                    </td>
                    <td class="align-middle">
                        <p class="no-bottom" th:text="${mrrRaw.development_comment}" />
                    </td>
                      </tr>
                      <tr class="groupthree">
                          <th scope="row" class="align-middle">
                              <p class="no-bottom">Cohesive Devices</p>
                          </th>
                    <td class="align-middle marks">
                        <p class="no-bottom" th:text="${mrrRaw.cohesivedevices}" />
                    </td>
                    <td class="align-middle">
                        <p class="no-bottom" th:text="${mrrRaw.cohesivedevices_comment}" />
                    </td>
                      </tr>
                      <tr class="groupthree">
                          <th scope="row" class="align-middle">
                              <p class="no-bottom">Conclusion</p>
                          </th>
                    <td class="align-middle marks">
                        <p class="no-bottom" th:text="${mrrRaw.conclusion}" />
                    </td>
                    <td class="align-middle">
                        <p class="no-bottom" th:text="${mrrRaw.conclusion_comment}" />
                    </td>
                      </tr>
                      <tr class="groupthree">
                          <th scope="row" class="align-middle">
                              <p class="no-bottom">Presentation</p>
                          </th>
                    <td class="align-middle marks">
                        <p class="no-bottom" th:text="${mrrRaw.presentation}" />
                    </td>
                    <td class="align-middle">
                        <p class="no-bottom" th:text="${mrrRaw.presentation_comment}" />
                    </td>
                      </tr>
                    <tr class="groupthree">
                      <td class="align-middle marks" colspan="4"><p class="no-bottom" th:text="'Text Organisation Mark: ' + ${toGrade}" /></td>
                  </tr>
                </tbody>
         </table>
        
        <p>Overall Comment:</p>
        <p th:text="${mrrRaw.overallComment}" />
        <p class="marks" th:text="'Overall Mark: ' + ${totalGrade}" />
        
        <!-- End of the review code -->
        
        
        <form th:action="@{/reviewmrr}" method="post" class="p-2 justify-content-center">
            <button type="submit" name="editButton" class="btn btn-primary">Edit</button>
            <button type="submit" name="submitButton" class="btn btn-primary">Submit</button>
        </form>
        
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
  </body>
</html>
